cryptography
fire
install_playwright>=0.1.0,<1.0.0
jsonschema
numpy<=2.2.6
pandas
pillow
playwright>=1.54.0,<=1.56.0
pydantic>=2.10.6
requests
retry
tenacity
pytz
strands-agents>=1.2.0,<=1.23.0
strands-agents-tools<=0.2.19
Deprecated
boto3>=1.42.1
boto3-stubs
mypy-boto3-s3
